body {
    background: #f9f9f9;
}
.bread {
    width: 1080px;
    margin: 20px auto;
    color: #333;
}
.cateBread {
    width: 1060px;
    height: 50px;
    margin: 20px auto 30px;
    padding-left: 20px;
    line-height: 50px;
    background: #fff;
}
.bread span {
    color: gray;
    cursor: pointer;
}
.bread b {
    margin: 0 8px 0 5px;
}
.search-result{
    font-size: 12px;
}
.category-container {
    width: 1080px;
    margin: 0 auto;
}
.category-list {
    width: 1100px
}
.category-list li {
    float: left;
    margin: 0 20px 20px 0;
}
.category-list>li>div {
    position: relative;
    display: block;
    width: 255px;
    text-align: center;
    height: 383px;
    background: #fff;
    transition: box-shadow .5s ease-in-out 0s;
}
.category-list i {
    display: inline-block;
    width: 255px;
    height: 255px;
    overflow: hidden;
    
}
.category-list img {
    width: 255px;
    height: 255px;
    transition: transform .5s ease-in-out 0s;
}
.supplier-recommen .supplier {
    font-size: 12px;
    line-height: 17px;
    color: #BF9E6B;
    margin-top: 10px;
}
.supplier-recommen .supplier, .supplier-recommen .title, .supplier-recommen .priceBox, .supplier-recommen .evaluate {
    text-align: left;
    padding-left: 20px;
}
.supplier-recommen .title {
    font-size: 14px;
    line-height: 19px;
    color: #4A4A4A;
    margin-top: 5px;
}
.supplier-recommen .priceBox {
    font-size: 14px;
    line-height: 25px;
    height: 25px;
    color: #4A4A4A;
    margin-top: 10px;
    display: flex;
}
.supplier-recommen .evaluate {
    font-size: 12px;
    line-height: 17px;
    color: #BBB;
    margin-top: 10px;
}
.supplier-recommen .priceBox .price {
    margin-right: 5px;
}
.supplier-recommen .mack {
    line-height: 20px;
}
