
.nav{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 110;
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 5%);
}
.nav>div{
    position: relative;
    width: 1080px;
    margin: 0 auto;
    height: 145px;
}
.clearfix {
    display: block;
}
.nav-logo {
    float: left;
    width: 239px;
    height: 98px;
    padding-top: 28px;
}

.nav-search {
    position: relative;
    float: right;
    margin-top: 30px;
}
.nav-search p {
    position: relative;
    z-index: 2;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
}
#searchInput {
    width: 412px;
    outline: 0;
}
.nav-search input {
    height: 38px;
    padding-left: 10px;
    border: 0;
    line-height: 38px;
    color: #bbb;
    font-size: 14px;
    border-radius: 3px;
    vertical-align: middle;
}
.nav-search span {
    display: inline-block;
    width: 39px;
    height: 38px;
    border-left: 1px solid #ccc;
    vertical-align: middle;
    background: url("../assets/search.png") center center no-repeat;
    cursor: pointer;
}
.nav-tab {
    position: absolute;
    bottom: 0;
    left: 0;
}
.nav-tab ul {
    float: left;
    height: 40px;
    line-height: 40px;
}
.nav-tab li ,.nav-tab a{
    display: inline-block;
    height: 16px;
    padding: 0 45px 0 0;
    line-height: 16px;
    font-size: 16px;
    cursor: pointer;
}
.nav-tab .border-l {
    border-left: 1px solid #bbb;
}
.nav-search ul {
   
    width: 461px;
    height: 35px;
    padding: 0;
    margin-bottom: 40px;
}
.nav-search li {
    cursor: pointer;
    display: inline-block;
    height: 35px;
    padding: 0;
    margin-right: 10px;
    line-height: 35px;
    color: #666;
}
.ljby{
    position: relative;
}
.more:hover{
    color: #784CFA;
}
.ljby:hover .hover_code{
    display: block;
}
.hover_code.gzh {
    background-image: url("./img/er.png");
}
.hover_code {
    display: none;
    width: 225px;
    height: 266px;
    background-color: #fff;
    background-size: 133px 133px;
    background-repeat: no-repeat;
    position: absolute;
    background-position: center 30px;
    top: 30px;
    left: -80px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.hover_code span {
    color: #666;
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
    margin-top: 180px;
    padding-bottom: 20px;
}